<%- include("../head.ejs") %>
<div class="ui container text segment" id="mainIndexPage"></div>
<script>
  const mainIndexPage = document.getElementById("mainIndexPage");
  const bookId = window.location.pathname.split("/").pop(); // Get the book ID from the URL
  fetch(`/api/book/${bookId}`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((response) => response.json())
    .then(({ book }) => {
      mainIndexPage.innerHTML = `
          <div class="card">
            <div class="card-body row">
              <h1 class="text-center">${book.title}</h1>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="${
                  book.image
                }" class="card-img-top img-fluid" style="max-height: 400px; object-fit: contain;"/>
              </div>

              <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                <span>Rating: ${[...Array(book.rating)]
                  .map(() => '<img src="/icons/star-fill.svg" alt="" />')
                  .join("")}${[...Array(5 - book.rating)]
        .map(() =>'<img src="/icons/star-outline.svg" alt="" />')
        .join("")}</span>
                  <div class="ui divided items">
                <div class="item">
                  <div class="content" style="text-align: justify">
                    <h3 class="">Summary:</h3>
                    <p>${book.summary}</p>
                  </div>
                </div>
                <div class="item">
                  <div class="content" style="text-align: justify">
                    <h3 class="">Book Review:</h3>
                    <p>${book.review}</p>
                  </div>
                </div>
                <a href="/book/edit/${book.id}" class="">
  
                <button class="btn btn-warning">Edit Book Review</button>
                 </a>
                <form
                  id="delete-form"
                  style="display: inline"
                >
                  <button class="btn btn-danger" type="submit" id="delete-button">Delete</button>
                </form>
              </div>
              
              </div>
            </div>
          </div>
        `;


      const deleteForm = document.getElementById("delete-form");
      deleteForm.addEventListener("submit", function() {
        event.preventDefault();
        confirm("Are you sure you want to delete the book review");


        if(!confirm) {
          return;
        }
        fetch(`/api/book/delete/${bookId}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            alert("Book review deleted successfully!");
            window.location.href = "/book";
          } else {
            alert("Failed to delete the book review.");
          }
        })
      
        .catch((error) => {
          console.error("Error:", error);
        });
      })
    });

    

 
  
  
</script>
