<%- include("../head.ejs") %>
<div class="container-md">
  <div>
    <h1>Book Review</h1>
    <p>
      Welcome to the Book Review App! Here you can find reviews of your favorite
      books.
    </p>
    <p>Click on a book title to read the full review.</p>
    <h5> This web application was created to fulfill Web Technology module’s
      requirements and does not represent an actual company or service</h5>
  </div>
  <div class="row gy-4" id="mainIndexPage"></div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("/api/book", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then(({ data }) => {
        const mainIndexPage = document.getElementById("mainIndexPage");
        data.forEach((book) => {
          mainIndexPage.innerHTML += `
          <div class="col-12 col-sm-6 col-md-3 ">
            <div class="card">
              <img src="${
                book.image
              }" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"/>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/book/details/${book.id}" class="nav-link">${
            book.title
          }</a>
                </h4>
                <div class="meta">
                  <h5>Rating: 
                    ${[...Array(Number(book.rating))]
                      .map(() => '<img src="/icons/star-fill.svg" alt="" />')
                      .join("")}${[...Array(5 - book.rating)]
            .map(() => '<img src="/icons/star-outline.svg" alt="" />')
            .join("")}
                  </h5>
                </div>
                <div class="description" style="text-align: justify">
                  <h5>Summary:</h5>
                  <p>${book.summary}...</p>
                </div>
                <div class="extra">
                  <a href="/book/details/${
                    book.id
                  }" class="btn btn-primary">Book Review</a>
                </div>
              </div>
            </div>
          </div>
          `;
        });
      })
      .catch((error) => console.error("Error fetching books:", error));
  });
</script>
