<%- include("../head.ejs") %>
<div class="container-md">
  <div>
    <h1>Book Review</h1>
    <p>
      Welcome to the Book Review App! Here you can find reviews of your favorite
      books.
    </p>
    <p>Click on a book title to read the full review.</p>
  </div>
</div>
